[2014-10-13 20:32] splendido opened #1 "Typo inside isNotActive"
at this [line](https://github.com/zimme/meteor-iron-router-active/blob/master/client/helpers.coffee#L47) you're trying to call the controller object.

I guess removing the `()` should be enough to get it fixed.

[2014-10-13 20:42] #1 closed, assigned to zimme

[2014-10-17 23:29] mbabauer opened #3 "TypeError: Connot read property 'hash' of undefined"
I am getting the following error when I try to use this package:

[code]

My template looks like this:

[code]

I tried removing the className="active" from the code, but to no avail.  I am using Meteor 0.9.4.

[2014-10-22 08:30] #3 closed, assigned to zimme

[2014-10-22 16:46] mmoyles87 opened #4 "isActivePath not working for path with variables"
isActivePath works fine for routes without variables

/route1
/route2

but it's not working for

/route3/:myParam

I suspect it's because Router.current().route.path() is returning null for this case. I think you should instead be comparing with Router.current().path like the old version

[2014-10-22 17:35] #4 closed, assigned to zimme

[2014-10-29 14:08] bellamystudio opened #6 "Since updating to meteor 1.0 I get an error"
Hi - I upgraded to meteor 1.0 (and iron-router upgraded as part of that) - now I'm getting this error:

Exception in template helper: TypeError: Cannot read property 'hash' of undefined
    at Object.<anonymous> (http://localhost:3000/packages/zimme_iron-router-active.js?d2a23210f0cc0616b7c5d0dcbd485fd3c7fbb5aa:59:16)

My template code looks like this:

<a class="tab-item beachlist {{ isActiveRout

[2014-10-29 16:03] #6 closed, assigned to zimme

[2014-11-18 20:15] joncursi opened #7 "Active Route for Group of Paths (a path and it's sub-paths)?"
Thanks for this package, it works great for top-level paths such as `mysite.com/path`.

Is it possible to define a group of paths as active? I.e. if the user navigates to any of the below paths, declare the class active?

`mysite.com/path`
`mysite.com/path/sub-path`
`mysite.com/path/sub-path/sub-path`

[2014-11-18 20:29] #7 closed, assigned to zimme

[2014-12-02 12:07] markudevelop opened #8 "Question: No Class If Statement is False?"
I'm trying to do the following:

[code]

But when it's not the active route I'm getting `<li class=>...</li>` just empty it should be`<li>`
Is it also possible to create the `"class="` if needed or not?

[2014-12-02 15:18] #8 closed, assigned to zimme

[2014-12-12 04:54] crapthings opened #9 "Request exact router name feature."
sometime i have similar template router name, i need exact router name to get it active.

[code]

great job @zimme

one must have addon for ir

[2014-12-14 19:36] #9 closed, assigned to zimme

[2014-12-26 19:52] markudevelop opened #10 "Performance?"
Hello zimme,

I was wondering what is the performance impact on using this package? I understand that regex is some what more heavy than static compare, And wanted to know if I trade too much of convince for performance?

[2014-12-26 23:19] #10 closed, assigned to zimme

[2015-01-08 14:01] evenfrost opened #11 "Escaping issue"
When I try to escape any symbol in regex, Meteor throws parse error:
[code]
In case of (as an example):
[code]

[2015-01-08 14:03] zimme commented on #11
Could you give me an example regex that results in this error and I'll take
a look tonight

[2015-01-08 14:04] zimme commented on #11
Sorry, didn't see the example in the email

[2015-01-08 15:00] zimme commented on #11
Ok, a quick workaround is to use a helpers to define the regex string

[code]

[code]

I'll continue to check this out, I believe it have something to do with how Blaze parse helpers in templates

[2015-01-08 15:07] zimme commented on #11
Ok, If you escape the questionmark with \\? it should work

[2015-01-08 15:40] evenfrost commented on #11
Got it, thanks.

[2015-01-08 15:41] #11 closed

[2015-02-16 01:43] dohomi opened #13 "Router.current() returns null"
Hello,

I tried your package in current iron:router but Router.current() returns null. I make use of this package and ```martino:iron-router-i18n``` package.

If I extend package.js:

[code]
Then Router.current() works as expected. Maybe @martinopic has also an idea about it? Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/860

[2015-02-16 13:37] martinopic commented on #13
Have you tried to load 'iron-router-i18n' before meteor-iron-router-active ?. Iron Router i18n has to replace the Router originally created by Iron Router with a new one and this might cause some problems (still working to see if there is a safer way to do this).

[2015-02-16 19:50] zimme commented on #13
First thought was you need to guard `Router.current()` as it's possible for it to be null, i.e. when no route has run yet. (It's in iron:router docs)

Second thought was, I don't think it's a problem with this package but with `martino:iron-router-i18n` as no other users has brought this issue up with `iron:router@1.0`.

If it turns out I'm wrong, ping me and I'll take a look at my package to see

[2015-02-17 09:56] kontur opened #14 "Regexp matching needs more documentation / expected match fails"
Hey,

I have a URL like this

`http://localhost:3000/venue/4d6e756a922f8cfad1f449fe`

and try marking it active with

`{{isActiveRoute regex='venue\/[a-z0-9]*$'}}`

This fails, however. I'm unclear on to what the regex actually tries to match against or if it even takes the whole path or only the last bit.

The documentation should either be more explicit on what works, or we should have a look wh

[2015-02-17 12:38] zimme commented on #14
`isActiveRoute` matches against the current route name. You'll need to use `isActivePath` to match against the path part of the url. In your case `venue/4d6e756a922f8cfad1f449fe`

But most likely you have named the route that handles this url path to something like `showVenue` and I would match against that with `isActiveRoute` instead.

[code]

But if you had trouble understanding the readme I'll

[2015-02-20 12:05] martinopic commented on #13
Ok, this ended up to be a problem with Iron Router i18n. I've fixed that, see the above referenced ticket for details.

Now the two module works iff ```martino:iron-router-i18n``` is added (loaded) BEFORE ```zimme:iron-router-active```. I've also added a basic example app working with both.

This is needed because I am overriding and replacing the original iron router I'm also discussing in a more

[2015-02-21 19:37] zimme commented on #13
I'm closing this now as it wasn't a problem with this package.

[2015-02-26 21:26] kontur commented on #14
I must have just skimmed over the readme too quickly. I can try send you a PR with a more extensive readme documentation of this difference within the next few days. Maybe show one sample router setup with a named route and a matching isActiveRoute expression?

[2015-02-26 22:07] zimme commented on #14
:+1:

[2015-02-28 07:03] zimme opened #15 "Add tests"
Self-explanatory.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9040850-add-tests?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github).
</bounty

[2015-02-28 17:24] kontur commented on #14
See https://github.com/zimme/meteor-iron-router-active/pull/16 for now.

When testing some routes I was wondering about the regex interpretation here. I tried to match route names with a dot in them and got unexpected results. Some expressions didn't match, and when trying to escape the dot with \. like so `regex='post\.edit'` meteor will crash. I suppose this is a separate issue, but maybe you ha

[2015-03-01 17:27] zimme commented on #14
Regex in javascript is a bit different It seems. I've had this issue but with escaping a `?` and we came to the conclusion that you need to escape with `\\.` or use a character class [.]

I'm looking at #16 now and it's a great start. I'll put some work into my packages tonight... I need to redo some documentation to make things more obvious in all of them.

[2015-03-01 17:36] zimme commented on #14
Ok when you try and escape special chars in javascript strings you need to also escape the `\` symbol and that's why you need to use `'a\\.b'` for it to work. However if you use `/a\.b/` format you don't need to escape the `\` char

[2015-03-01 17:37] zimme commented on #14
I'll add RegExp literals to the list of possible arguments tonight.

[2015-03-01 18:02] kontur commented on #14
:+1: I'll close this original issue then when PR is merged ;)

[2015-03-10 11:06] zimme opened #17 "Add configuration"
Add "global" configuration for package, as I've done with [zimme:collection-behaviours](/zimme/meteor-collection-behaviours).

Should be able to choose default `className`

Hopefully forks like [owdco:iron-router-is-selected](/owdco/meteor-iron-router-is-selected) won't be needed.

@owdco would this be enough for you to use this package instead if maintaining your own fork?

<bountysource-plugin>

[2015-03-10 11:08] olivier-g commented on #17
Yes it would, this would great!

[2015-03-10 11:12] owdco commented on #17
Yes it would, this would be great!

[2015-03-10 11:13] zimme commented on #17
I'll try and get this done as soon as possible but I don't think I'll have time available until sometime next week.

The biggest reason I wanna make this happen is that I strongly believe it's better to have as few packages as possible to do almost the same thing... less confusion for new members to the meteor community. :smile:

[2015-04-14 10:53] kevohagan opened #18 "_.capitalize not recognizing"
im getting undefined is not a function

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11115792-_-capitalize-not-recognizing?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522373&utm_m

[2015-04-14 12:01] jtolla opened #19 "Upgrade from 1.0.1 to 1.0.2 seems to conflict with currentUser"
Not sure how or why, but my {{#if currentUser}}'s weren't being recognized after the update. Brought the package back down to 1.0.1 and everything worked fine again.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11119473-upgrade-from-1-0-1-to-1-0-2-seems-to-conflict-with-currentuser?utm_campaign=plugin&utm_content=tracker%2F522373&

[2015-04-14 12:48] zimme commented on #18
Sorry, just made a quick change of library to the official. Didn't realize the api was different.

[2015-04-14 12:49] zimme commented on #19
try 1.0.3 and see if it's related to #18 somehow

[2015-04-14 13:01] kevohagan commented on #18
mmm nope , im getting s is not defined

[code]

[2015-04-14 14:57] zimme commented on #18
This is fixed in `1.0.4`.

I'm so sorry for the inconvenience, I really need to implement tests as this could have been avoided.

I shouldn't push new releases after I've done quick fixes on the coffee break. :stuck_out_tongue_closed_eyes:

[2015-04-14 14:57] #18 closed

[2015-04-14 15:00] zimme commented on #19
This is hopefully fixed in `1.0.4`. If it is, please close this issue.

[2015-04-14 15:05] zimme opened #21 "Add changelog"
Pretty nice to keep track of changes in a more visually appealing way.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11131812-add-changelog?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=track

[2015-04-14 15:51] kevohagan commented on #18
ha :) no worries! Thanks for the work! great job

[2015-04-16 07:31] zimme commented on #19
@jtolla: Is this fixed with version `1.0.4`?

[2015-04-16 12:17] jtolla commented on #19
Fixed!

[2015-04-16 12:17] #19 closed

[2015-05-06 10:38] lorensr opened #23 "FR: Support single string arg"
If I'm only using the `regex` arg:
[code]

it would be nice to be able to do:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13291439-fr-support-single-string-arg?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2015-05-06 11:18] zimme commented on #23
@lorensr Have a look at #22, it's coming along with a bunch of other things.

[2015-05-06 11:18] #23 closed

[2015-05-09 22:13] zimme commented on #14
This is being fixed with #22. Closing this issue.

[2015-05-09 22:13] #14 closed

[2015-05-26 13:42] paulisloud opened #25 "'Starts with' regex (^) not triggering"
Here is the code snippet I'm using:

`<li class="{{isActiveRoute regex='^feeds'}}"><a href="/feeds">Feeds</a></li>`

Note the carat in the regex parameter. Without the carat this renders just fine, on the base route (/feeds), but obviously not with sub-routes. Using the carat, the active trigger does not happen on either the base route or sub-routes.

<bountysource-plugin>
---
Want to back this is

[2015-05-26 14:27] zimme commented on #25
What are the names of the routes?

You're using `isActiveRoute` which matches against a route's name and not the route's path.

If the routes' name were like this: `feed.index`, `feed.show`, `feed.edit` then `^feed` would match.

In your case it seems like you wanna match against the paths.

`<li class="{{isActiveRoute regex='^\\/feeds'}}"><a href="/feeds">Feeds</a></li>`

[2015-05-26 17:44] paulisloud commented on #25
Ah good to know re: isActivePath. Thanks for the updated regex, worked like a charm with isActivePath.

[2015-05-26 17:50] #25 closed

[2015-06-01 08:36] #17 closed

[2015-06-01 08:56] #15 closed

[2015-06-01 11:40] zimme commented on #17
@owdco, version 2.0.0 is released under the new name `zimme:active-route`.

It adds
[code]

How about `meteor admin set-unmigrated owdco:iron-router-is-selected` to hide it from atmosphere?

[2015-06-01 13:33] #21 closed

[2015-06-03 03:10] olivier-g commented on #17
@zimme Thanks, I've removed the package. Might be cached on atmosphere, but you can I see I don't have any packages anymore now: https://atmospherejs.com/owdco

[2015-06-03 06:49] zimme commented on #17
:+1:

[2015-06-04 06:30] zimme opened #27 "Add test case for route controller not being ready i.e. undefined"
Self-explanatory
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20301976-add-test-case-for-route-controller-not-being-ready-i-e-undefined?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2015-06-04 15:31] #27 closed

[2015-06-14 04:46] ciwolsey opened #30 "Issue after updating to latest version"
Getting the following spammed in my console:
[code]
I'm using active-route on about 8 routes. Removed the package and references and this fixed the problem.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21933902-issue-after-updating-to-latest-version?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=gith

[2015-06-14 06:37] zimme commented on #30
Which version? Iron:router or flow-router? Template helper or javascript helper? Which syntax? {{isActiveRoute 'home'}} or {{IsActiveRoute regex='home'}} or some other syntax?

[2015-06-14 14:54] zimme commented on #30
So I'm 99% sure you're using `{{isActiveRoute route="home"}}` instead of `{{isActiveRoute name="home"}}`.

Maybe I should make `route` an alias for `name` for the `isActiveRoute`/`isNotActiveRoute` helpers.

[2015-06-14 14:56] zimme commented on #30
I choose `name` for the `isActiveRoute` helpers because I thought it would make it clearer that `isActiveRoute` matches the route's name instead of path

[2015-06-14 15:35] ciwolsey commented on #30
Yes I'm using "route".. It should work if I switch to "name"? That's good to know. Thanks z1mme keep up the good work. Indeed "name" is better.

[2015-06-14 15:37] zimme commented on #30
Yes, and some version ago I actually made it possible to use this syntax too, `{{isActiveRoute 'home'}}`

[2015-06-14 15:37] #30 closed

[2015-07-01 17:45] 57even opened #31 "Use parameters in routes"
Is it possible to use parameters in the routes just like `iron-router` provides `{{pathFor 'profilePage' _id=userId}}`?

[2015-07-01 17:57] zimme commented on #31
For this `{{isActiveRoute 'home'}}` syntax I don't think I support that right now, one thing you could do is this `{{isActiveRoute name='home' _id=userId}}`.

I'll look into supporting that kind of syntax you talked about and see what I can do.

[2015-07-01 19:28] 57even opened #32 "Path starts with route name"
`{{isActiveRoute name='companies'}}"` works great but sometimes it could be useful to have a helper to check if active route starts with the route in `name='companies'` (e.g. for paths like `/companies/company-1/`).

Right now I'm using `{{#if isActivePath regex='^\\/companies'}}` but it could be smart if I didn't need to 'hardcode' the path name in the template instead of just using the defined r

[2015-07-01 19:31] zimme commented on #32
In this specific case I would name the name with the path `/companies/:_id` to `showCompany` then just use `{{isActiveRoute 'showCompany'}}` for the matching.

[2015-07-01 19:32] zimme commented on #31
I'll keep this open until I've had a look at supporting the syntax you talked about, because I've actually been thinking about that before.

[2015-07-01 19:34] zimme commented on #32
Another option is to use like `companies.company1` kinds of names for the routes if you set up all routes manually and then you can match with `{{isActiveRoute regex='^companies.'}}`

[2015-07-04 16:42] zimme commented on #31
So thinking about this, did you mean that support for parameters that would match against the route's parameters and only return the `active` class if they also matches? or did you mean for the helpers settings parameters like `class` and `regex`? or maybe both?

[2015-07-08 07:31] zimme opened #33 "Git history re-write"
I just wanted to let you know that I've re-written the git history a bit for this repo and you guys are the ones I can see have forks.

If you wanna contribute again, you need to make a fresh fork of my repo otherwise there will be such weirdness, much chaos, wow :stuck_out_tongue_closed_eyes:

@VeliovGroup, @Chun-Yang, @1thrasher, @kontur, @owdco, @dubvfan87

<bountysource-plugin>
---
Want to bac

[2015-07-08 07:31] #33 closed

[2015-07-08 09:11] zimme commented on #32
I'm closing this issue as answered, @mention me if you want me to re-open the issue.

[2015-07-08 09:11] #32 closed

[2015-07-10 07:26] zimme opened #34 "Switch to ES2015"
Want soak and conditional assignment before switching.

#49

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24061230-switch-to-es2015?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522

[2015-07-24 15:40] faceyspacey opened #35 "Why am I getting expected string, got function?"
I'm getting this issue all of a sudden when visiting a new route I just added:

[code]

How could this be?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24894473-why-am-i-getting-expected-string-got-function?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2015-07-24 15:49] faceyspacey commented on #35
it seems to be caused by using findOne() instead of find() as the returns of iron router ```data``` handlers. The issue went away when i changed it to a plain find() call.

[2015-07-24 21:47] zimme commented on #35
The object returned from the database when using findOne, most likely had a member named 'class" which was a function. The helpers now uses the data context to populate the options which is most likely the cause of this error message.

[2015-07-24 21:51] akiarostami commented on #35
I'm getting error too.  I'm using

`{{#if isNotActivePath regex='login|password'}}`

and I'm getting this error:

`Exception in template helper: Error: Match error: Expected string, got undefined in field ["class"]`

[2015-07-25 00:21] faceyspacey commented on #35
@zimme that is exactly the issue! ...is there another options? the 'class' property cant change for me--what are my other options to avoid this?

[2015-07-25 13:57] zimme commented on #35
On vacation right now in magaluf but when i get back ill think about skipping the data context inheritance in favour of a data attribute the way dynamic template does it

[2015-07-29 04:21] thearabbit opened #36 "Please change to "kadira:flow-router"?"
Please change to "kadira:flow-router"?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25103393-please-change-to-kadira-flow-router?utm_campaign=plugin&utm_content=tracker%2F522373&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F52237

[2015-07-29 07:24] zimme commented on #36
When I get back from my vacation on saturday I can add it to the weak
dependencies. If you need it faster than that ill accept a complete PR,
incl changelog update

On Wed, Jul 29, 2015, 6:21 AM Yuom Theara <notifications@github.com> wrote:

[2015-07-29 18:13] zimme commented on #36
#37

[2015-07-31 17:02] zimme commented on #35
I'm not sure what's the best approach to this "problem" is.
1. Skipping the data context inheritance and inherit from the data attribute instead.
2. Adding an option `className` which when set to `true` will use `className` instead of `class`, this would remove the `class`/`className` alias which is in place right now.

[2015-07-31 17:09] zimme commented on #36
Reopening this as I've fixed this, I'm just gonna try and have a stab at #35 before release.

[2015-07-31 21:14] serkandurusoy opened #39 "Helpers don't update if there are notFound routes (flow-router)"
I'm using flow-router (with blaze-layout) and have a couple of routes.

I'm using the `isActiveRoute` helper within a dynamically rendered navigation template.

Given

* I browse using the links in the nav
* one of the links is broken
* I enter a route (with helper to mark the nav link as active)
* I click on the broken link (see the not found page, which uses the same navigation template)

I expe

[2015-08-01 02:12] lsunsi commented on #36
Thanks zimme.
Just waiting the update to re-include the package in my current projects

[2015-08-01 03:19] thearabbit commented on #36
Thanks, I waiting you :+1:

[2015-08-01 15:20] #36 closed

[2015-08-01 15:22] zimme commented on #39
It would be really helpful to get a reproduction repo for this.

[2015-08-01 15:28] serkandurusoy commented on #39
@zimme this may actually be flow-router related after all. Arunoda is looking into this over at the issue I've cross posted.

Do you still think there is something you could do?

[2015-08-01 15:47] zimme commented on #39
Yes, I just saw the conversation on the related issue. If it's a special route, maybe it's something I can look for in my code.

I'm doing a re-write for `3.0.0` (es6) and once it's released I'll get back to this and hopefully the notFound route is working as a regular route by then otherwise I'll see if there's something I can do on my end to work around the problem.

I'll open a PR brach for `3.

[2015-08-01 17:27] serkandurusoy commented on #39
I don't know if you can detect the notFound route being hit, but what I realize is, even though the `{{isActiveRoute 'routeName'}}` somehow `ActiveRoute.name('routeName')` works and `FlowRouter.getRouteName()`returns undefined in the meantime.

Since flow router's notFound route is not a proper 404, it does not provide much value, therefore, I've decided to work around the problem by defining a ca

[2015-08-01 20:01] zimme commented on #39
If `ActiveRoute.name` works but `{{isActiveRoute ...}}` doesn't reactively change when `notFound` route are hit then flow-router most likely doesn't invalidate when hitting `notFound` routes.

[2015-08-01 21:11] zimme commented on #39
So putting `ActiveRoute.name` inside a `Tracker.autorun` gives me the same kind of "problem". I think this is related to how flow-router invalidates path changes when hitting the notFound route.

[2015-08-01 22:18] serkandurusoy commented on #39
Perhaps it is related to Arunoda's comment about invalidating `watchPathChange()`

[2015-08-05 14:03] faceyspacey commented on #35
i have both ```class``` and ```className``` properties on my objects. So for me only the fist option would work. It does seem precarious relying on the data context for the route.

[2015-08-05 14:07] zimme commented on #35
The reason I added this was to mimic the behaviour of `{{pathFor ...}}` and `{{linkTo ...}}` helpers which `iron:router` provides.

I think I'll just add support for the `data` attribute and an option to disable data context inheritance.

Sound good?

[2015-08-05 14:22] zimme commented on #35
or maybe it's better to have data context inheritance as opt-in instead? but Meteor do have implicit data context inheritance by default for templates.

[2015-08-05 14:25] faceyspacey commented on #35
meteor does, but urs is more of an automated solution, which now is assuming maybe too much about people's code. it's probably best to keep it all to what's specifically provided as parameters.

[2015-08-10 07:03] davidlawson commented on #39
@serkandurusoy I think you mean `action: FlowRouter.notFound.action` (no parentheses). Still only a temporary fix, of course!

[2015-08-17 11:35] zimme commented on #35
I haven't forgotten about this, I've just been busy with work.

My thinking is that I'll skip the data context inheritance and inherit from `data` attribute just like `Template.dynamic` does.

As this is a breaking change I'll release a new major version when this is done, I'll be leaving support for `meteorhacks:flow-router` behind with this release too.

[2015-08-18 20:54] jorisroling commented on #35
I run into this because I have a **path** member. Please make these kind of assumptions about the context an **opt-in**, or have a decent **opt-out**.

[2015-08-18 21:05] zimme commented on #35
Hopefully I can get this done tonight, if not it should be done by the end of the week.

[2015-08-18 21:06] jorisroling commented on #35
Would be grand!

[2015-08-18 21:55] zimme commented on #35
This should be fixed with version `2.3.1`. Please ping me here if it's not resolved and I'll reopen this issue.

[2015-08-18 21:55] #35 closed

[2015-08-18 22:10] jorisroling commented on #35
Works... Thanks!

[2015-08-23 19:20] derwaldgeist opened #40 "isActiveRoute not working if FlowRouter is redirecting"
Scenario:

My layout consists of a main menu bar and a main canvas that changes often. In the menu bar, I have the following code:

[code]
There are two routes matching '^myGroup': 'myGroup', which is the root (/) of a route group (path: /group), and 'myGroupPage' which is a sub-page in this group (path: /group/page). I'm expecting isActiveRoute to set the class to 'active' for both route names.

[2015-08-23 19:49] zimme commented on #40
Thank you very much for this. On first sight it seems like this might be a problem in flow-router, but I'll look into it and see what I find.

[2015-08-24 09:28] derwaldgeist commented on #40
Your'e welcome, thanks for having a look at it!

[2015-09-08 19:14] derwaldgeist commented on #40
Any updates on this?

[2015-09-08 19:17] zimme commented on #40
Hey, no I'm sorry haven't had time to work with this package in a while. I'll try and carve out some time this weekend.

[2015-09-08 19:43] derwaldgeist commented on #40
@zimme: Thanks for the quick reply. I did some debugging now myself and posted an issue for FlowRouter: https://github.com/kadirahq/flow-router/issues/314 as I found out that it won't reactively update its reactive functions if a redirect to a sub-route in a group takes place. At least I suspect it's not doing this.

[2015-09-08 19:57] zimme commented on #40
Thanks a bunch for taking the time to track this down

[2015-09-08 19:58] derwaldgeist commented on #40
No problem, I need this functionality :-) Let's see what the FlowRouter guys say.

[2015-09-09 11:47] maxnowack commented on #31
How was it implemented?
In my case I want to check if the route parameters match against the specified parameters. Is this possible right now?

[2015-09-09 11:57] zimme commented on #31
Oooh, my bad. I only solved half the issue. I now support adding parameters to the syntax you talked about, but I don't check if any of the parameters match the route's parameters and use that to do specific matching.

I've been thinking about implementing this, but as you can use `{{isActivePath pathToMatch}}` where `pathToMatch` is a template helper which returns the specific route's uri with th

[2015-09-09 12:04] zimme commented on #31
I never ran into this problem because I usually have 2 routes, `profile` and `showUser`, which uses the same templates to show a users profile. The difference here is that when I wanna link to the "me" page I just match against `profile` with `isActiveRoute` instead of needing to match against a specific user.

But I can see the need to this convenience functionality.

[2015-09-09 12:17] maxnowack commented on #31
I see... In my case I have a "iPad-like" Master-Detail view with a list on the left side. On the right side is the content of the active item in the list. Each item have the same route but a different `_id` parameter.
With iron router's `pathFor` it's very easy to create a link to the item's route
[code]
`pathFor` automatically match the parameters of the route with the properties of `this`. It wo

[2015-09-09 12:26] zimme commented on #31
So, I actually implemented the data context inheritance, but as a lot of people had objects in the data context which had `class` and `route` properties. So I realized that this wasn't a good fit for this package.

But when I'm implementing the specific matching part with parameters, I'll look into inheriting from the `data` attribute like so. `{{isActiveRoute 'item.detail' data=this}}`, where `th

[2015-09-09 12:31] zimme opened #41 "Data context inheritance"
Make this possible
[code]
Where the data context of the template have the user object and it's `_id` property will be used for specifc route matching.
The data context inheritance was previously implemented but brought foreseen problems.
To not get that again, either use an option to enable this feature or filter out active-route attribute options from the data context.

Connected to #31.

<bounty

[2015-09-15 22:36] zimme commented on #31
This should be possible now with version `2.3.3-rc.1`
[code]

[2015-09-17 12:51] derwaldgeist commented on #40
The bug in FlowRouter is now fixed, so I am closing this.

[2015-09-17 12:51] #40 closed

[2015-09-17 12:54] zimme commented on #40
:+1: Nice! Thank you for taking the initiative on this one, much appreciated.

[2015-09-17 12:56] zimme commented on #41
This is implemented like this `{{isActiveRoute 'showUser' data=userObject}}` in `2.3.3-rc.1`

[2015-10-07 16:49] almogdesign opened #43 "Somewhat of a crazy issue but active router has a conflict with Parsely.js"
I have a form setup using Parsely.js the route is create-post if I have the following code for the active route parsely.js does not work it's never triggered
[code]

Seems to be a direct conflict here is the ticker I had on Parsely.js - https://github.com/guillaumepotier/Parsley.js/issues/991

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/

[2015-10-07 16:57] almogdesign commented on #43
Never mind the issue is 100% on my end I had create post id twice

[2015-10-07 16:57] #43 closed

[2015-10-07 16:58] zimme commented on #43
Try with the latest rc release and see if that helps. Other than that it would be nice to know which router you use.

A reproduction on meteorpad.com would be awesome

[2015-10-07 16:59] zimme commented on #43
Nice :+1:

[2015-11-13 16:26] andregoldstein opened #44 "Possible to get "starting with" regex for multiple levels?"
Hi there, I'm having a few issues trying to get `admin/clients` and all it's sub pages to mark as active

Have tried below but it only seems to go one level deep? Is this possible?

[code]
Ideally this would work for

[code]

etc

Thanks for all your hard work on this helpful package!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2

[2015-11-20 21:50] zimme opened #45 "Look into supporting react"
In light of [this](https://forums.meteor.com/t/next-steps-on-blaze-and-the-view-layer/13561) forum post,
lets see if we can't make some react template/component helpers.

No experience with react yet, any help with this is appreciated.

[2015-11-23 05:35] brajt commented on #44
It doesn't work because "/" has its special meaning in regex. You need to escape every such special character using "\" in front of it.

I remember zimme mentioning that support for route groups could come handy in such situations.

[2015-11-23 14:48] zimme commented on #44
[code]
This should work as you expect. Also the `AcitveRoute.group` and `{{isActiveGroup ...}}` thing would help, I haven't had time to get to that and it isn't a prio as it's flow-router only so I need to think about if and how I can translate it into iron-router

[2015-11-23 15:01] andregoldstein commented on #44
Thanks both.

On 23 November 2015 at 14:48, Simon Fridlund <notifications@github.com>
wrote:

--
*André Goldstein*
*Director, Milktop*

*http://www.milktop.co.uk <http://www.milktop.co.uk>*
@MilktopDesign <https://twitter.com/MilktopDesign>

[2015-12-03 11:52] zimme commented on #45
# title

[2015-12-03 12:19] zimme commented on #34
Test

[2015-12-04 10:01] zimme commented on #44
I'll close this as solved. I'll open another issue for `ActiveRoute.group`/`{{isActiveGroup}}` functionality.

[2015-12-04 10:02] zimme opened #46 "Support flow-router groups"
`ActiveRoute.group` and `{{isActiveGroup}}`.

Can we translate this over to `iron:router` too, by checking prefix in url?

[2015-12-04 10:28] #44 closed

[2015-12-08 01:33] space-alien opened #47 "Error when using in a package"
I'm trying to create a package that uses 'kadira:flow-router' and 'zimme:active-route':

[code]

The `isActiveRoute` helper is throwing the error: `Exception in template helper: Error: No supported router installed. Please install iron:router or meteorhacks:flow-router.`

Digging through the browser console, I can see that the following line of CoffeeScript:
`fr = Package['kadira:flow-router'] ? P

[2015-12-08 01:42] space-alien commented on #47
Here's a horrible workaround: `Package['meteorhacks:flow-router'] = Package['kadira:flow-router'];`

[2015-12-08 01:48] space-alien commented on #47
So, I don't know CoffeeScript, or how the coffeescript package compiles to JS, but my guess is that when the coffeescript is being compiled, `Package['meteorhacks:flow-router']` is somehow being evaluated (to `undefined`), and then being stripped out of the compiled JS.

[2015-12-08 03:21] space-alien commented on #47
Turns out I wasn't specifying the dependency version in package.js, and an old version of zimme:active-route was being used. `meteor reset` cleared the old cached version and now all fine.

[2015-12-08 03:21] #47 closed

[2015-12-11 02:31] lnmunhoz opened #48 "How to use inside my package templates?"
I'm trying to use this package inside my package (I'm building a layout package for my apps). But when the app loads I'm getting:

[code]

The dependencies of my package are:
[code]

My app uses the `kadira:flow-router` as router. I tried to add the `kadira:flow-router` as a dependency but didn't works... How can I resolve this dependency tree?

<bountysource-plugin>
---
Want to back this issue? *

[2015-12-11 08:33] zimme commented on #48
try adding `api.use('kadira:flow-router@<version>');` to the package too.

if the package it self doesn't need to setup it's own routes then you can just do
`api.use('kadira:flow-router@<version>', { weak: true });`

I think this is needed to make sure the router is loaded before the use of my package properly.

[2015-12-12 06:03] lnmunhoz commented on #48
Thanks @zimme

[2015-12-12 06:03] #48 closed

[2015-12-14 12:27] zimme commented on #45
#41

[2015-12-15 08:01] #13 closed

[2015-12-21 12:44] #34 closed

[2015-12-21 12:45] zimme commented on #34
#49

[2016-01-12 13:23] #41 closed

[2016-03-08 05:06] livimonte commented on #44
For my case (subcategories, subcategoriestwo and subcategoriesthree) this works fine:

[code]

[2016-03-16 09:21] ipa1981 commented on #31
Zimme I've updated to `2.3.3-rc.1` and tried to match the route `/profile/:position` and url `/profile/test`
`{{isActiveRoute 'profile' position="test"}}`  returns empty
`{{isActiveRoute 'profile'}}` returns "active"

Is there something I need to do more?

[2016-03-16 11:13] zimme commented on #31
Hmm, should work with the latest rc, can't really reprod now as Im on vacation. Ill try to get to it as soon as possible

[2016-03-16 11:17] ipa1981 commented on #31
There is actually an optional language route group over this. so real url is `/:lang/profile/:position` maybe this breaks something?

[2016-03-16 11:18] zimme commented on #31
Most likely

On Wed, Mar 16, 2016, 9:17 PM ipa1981 <notifications@github.com> wrote:

[2016-03-17 20:15] francisbyrne commented on #46
+1

[2016-04-12 23:29] GilbertMizrahi commented on #45
zimme or someone else, please provide example of how to use meteor-active-route with react and react mount. Thanks.

[2016-04-29 16:44] s-devaney commented on #45
@zimme that's exactly what I'm looking for

[2016-05-07 16:36] slissner commented on #46
+1

[2016-05-13 20:14] sandervanhooft commented on #45
@zimme +1 A React example would be highly appreciated! :)

[2016-05-26 13:22] zimme commented on #45
@GilbertMizrahi, @s-devaney, @sandervanhooft: I don't think there's a specific way or using this with react, I'm working a bit on this package now, re-writing it to es2015. After this I would probably start working on the react support a bit and see if I can't add support for react router as well as kadira:flow-router and iron:router. But I would love to get feed back on how people using react wou

[2016-05-26 13:29] GilbertMizrahi commented on #45
I have figured out a way to make it work with React. I will write about it in the next couple of days. I will let you know.

[2016-05-26 13:31] zimme commented on #45
@GilbertMizrahi, which router did you use? I know you can make it work with react using `iron:router` or `kadira:flow-router`, but I would like to make it as frictionless as possible to use it.

[2016-05-26 13:37] GilbertMizrahi commented on #45
@zimme I am using kadira:flow-router.

And fair enough, if you  can make it better for any scenario, that will be great:)

[2016-05-26 13:40] zimme commented on #45
From what I have gathered, if I can make `ActiveRoute.name('home');` return either the class as a string `'active'` or boolean `false`, like the blaze helpers does. It should me a minor help for using it with react, but maybe there's some kind of component I can do that would make using this package with react "much" better.

[2016-06-07 21:01] GilbertMizrahi commented on #45
@zimme I wrote a short article how I use it with React. http://meteorlife.com/using-zimmeactive-route-package-to-show-the-active-route-in-a-meteor-react-app/

if ActiveRoute.path(path) returns true, a class of active is added to the active route element.

[2016-06-07 21:08] zimme commented on #45
@GilbertMizrahi, awesome! I'm working on a re-design of this package and I'm putting it under a new namespace where you can just add what you need.
[code]
This is pretty much what you would need for flow-router and react, as you don't need all the iron-router and blaze stuff.

But anyways, hopefully the article can be a good base for a paragraph in the official guide.

[2016-06-07 21:12] GilbertMizrahi commented on #45
@zimme great. Looking forward for the re-design

[2016-06-07 23:21] sandervanhooft commented on #45
That's great @zimme !

On Tue, 7 Jun 2016 at 23:12 GilbertMizrahi <notifications@github.com> wrote:

[2016-07-25 08:05] crapthings commented on #31
hey, what if i use iron router and my url has query like achievements?type=differentType,

how do i make it "active"

[2016-08-18 08:14] andy4545 opened #51 "Dynamic route name passed to isActiveRoute"
Is it possible to pass a dynamic route name to "isActiveRoute"

eg:   **menuItems** helper returns an _array of objects_ for a menu, where **label** and **routename** are properties of each object instance.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37053396-dynamic-route-name-passed-to-isactiveroute?utm_campaign=plugin&u

[2016-08-18 08:17] zimme commented on #51
I believe that code "should" work, but it isn't?

[2016-08-18 08:23] zimme commented on #51
Try `{{isActiveRoute name=routename}}`, if your example doesn't work

[2016-08-18 09:26] andy4545 commented on #51
My apologies - that does work.

[2016-08-18 09:26] #51 closed

[2016-10-02 11:42] anthonyboutinov opened #52 "Meteor 1.4 compatibility"
It looks like this package is now not fully compatible with Meteor 1.4.

I'm trying to use ```isActiveRoute```/```isActivePath``` in class attribute, and nothing happens.

In console, things like ```ActiveRoute.name('home');``` work correctly.

I use iron:router in my project.

[2016-10-18 12:55] Paku- commented on #52
Same for FlowRouter!

[2016-10-18 15:35] Paku- commented on #52
1.4 working solution:

`
Template.header.helpers({
    "isActive": function (itemName) {
        if (activeRoute.get("menu-item") == itemName) {
            console.log(itemName + " > Active");
            return "active";
        }
        else {
            console.log(itemName + " > none");
            return "none";
        }
    }
});
let activeRoute = new ReactiveDict;
Tracker.autorun(functi

[2016-11-06 00:10] pxljoy commented on #52
I've having a similar problem, also in 1.4.
Outlined in more detail here:

if I have zimme:active-router added to my packages list, I get this when `> meteor`

[code]

**[ full dump here http://pastebin.com/raw/jSA9N3AF ]**

My package list is as follows:

[code]

I've removed zimme:active-router because with it I can't do anything.

[2016-11-06 13:44] zimme commented on #52
So all my time on this project is in a es2015 re-write that will be release under a new name to allow for the community to take over maintenance. I'll split the package up in `activeroute:core`, `activeroute:iron-router`, `activeroute:blaze` etc. I hope to have this done in a week or so and I don't have time to try and fix this problem in the current package but I will happily accept a PR.

[2016-11-06 23:46] pxljoy commented on #52
I'm hyped for that, Mr. Zimme!

[2016-11-12 08:10] raphaelarias commented on #52
For now, here it is a global helper (note that isActivePath is only working with route names):

Template.registerHelper('isActivePath', (routeName, data) => {
  if (FlowRouter.getRouteName() === routeName) {
    return data.hash.class;
  }
});

[2016-11-13 11:47] zimme commented on #52
I'll have some time to work on my packages this week so I expect to release a RC next weekend

[2016-12-01 04:40] thearabbit commented on #46
+1, Now could I use it with group?

[2016-12-01 04:44] thearabbit commented on #46
but I try to use `isActivePath` instead.

[2016-12-01 05:00] thearabbit commented on #46
I tried  to use `isActivePath`, but it don't reactive when I change link.

[2016-12-01 05:08] thearabbit opened #53 "Don't reactive "isActivePath" when change link (menu link)?"
I base on group router
[code]
I tried to use `{{isActivePath path='/mlm/home'}}`, but it don't reactive when I change the link.
[code]

- It work for the first time, It show `active` string on `Home`
- And then I try to change route by click `About`, It don't show `active` string
Please help me.

[2016-12-01 20:56] zimme commented on #53
If you're on Meteor 1.3 or later it might not work as expected, I'm in the middle of a re-write and I don't really have time to see if I can fix this problem in the current version.

I would however accept a PR to solve this if this turns out to be a bug.

[2016-12-02 00:39] thearabbit commented on #53
Oh, I base on `Meteor 1.4`, so don't work.
I will try to fix in manual.

[2016-12-02 00:43] thearabbit commented on #53
Now I try to create lib, It work fine
[code]

[2017-01-16 06:04] isAlmogK commented on #52
Was this released?

[2017-01-17 07:14] zimme commented on #52
Sorry not yet

[2017-01-18 15:44] isAlmogK commented on #52
Any plans to update it anytime soon?

[2017-01-18 15:46] zimme commented on #52
I have the core and the iron-router part done, I just need to finish up the blaze part and at that point I can release an alpha.

[2017-01-18 15:54] isAlmogK commented on #52
Cool and this new version will support react? Please keep me updated

[2017-01-18 15:59] zimme commented on #52
The new architecture will allow for better modularity, I'll probably only do `activeroute:core`, `activeroute:iron-router` (maybe `activeroute:flow-router`) and `activeroute:blaze`.

Then the community can create packages for whatever view layer and router they want.

But when using react most people are probably using react-router and I believe that the functionality this package provides is alre

[2017-01-18 16:11] isAlmogK commented on #52
Yea that would work, why don't you already publish core?

[2017-01-18 16:13] zimme commented on #52
I need to verify that it actually works properly and I don't wanna publish a new version of something that isn't at least as complete as the previous version. Though I can live with publishing it with only support for one router and one ui.

[2017-01-18 16:18] isAlmogK commented on #52
Cool

[2017-01-19 22:39] zimme commented on #52
I've pushed some new code. [activeroute:core](https://github.com/meteor-activeroute/core) and [activeroute:iron-router](https://github.com/meteor-activeroute/iron-router). I'll add some docs for the packages tomorrow. Nothing is published to atmosphere yet.

[2017-01-19 22:42] isAlmogK commented on #52
Great,  I will wait for the docs thanks appreciate it

[2017-01-21 00:09] zimme commented on #52
I've added some simple docs now and also pushed an adapter for `kadira:flow-router`. [activeroute:flow-router](https://github.com/meteor-activeroute/flow-router)

[2017-01-21 17:12] isAlmogK commented on #52
I'm getting

While adding package activeroute:core:
error: no such package

[2017-01-21 17:13] isAlmogK commented on #52
Same thing for meteor add activeroute:flow-router

[2017-01-21 17:44] zimme commented on #52
As I said earlier, nothing is publlished to atmosphere yet so you will need to clone the repos into a packages folder in your project.

However I should be able to publish alpha versions to atmosphere tonight.

[2017-01-21 18:09] isAlmogK commented on #52
I will wait for the push it's client project so that would be better thanks

[2017-01-25 21:42] zimme commented on #31
Use the `isActivePath` helper.

[2017-01-25 21:44] zimme commented on #39
So has this been resolved in flow-router yet? as I believe we came to the conclusion that this was a flow-router problem, no?

[2017-01-25 21:46] zimme commented on #52
[activeroute:blaze](/meteor-activeroute/blaze) is done.

I'll look into publishing alpha versions of the new packages to atmosphere.

[2017-01-25 22:40] zimme commented on #52
`1.0.0-alpha.1` of `activeroute:core`, `activeroute:iron-router`, `activeroute:flow-router` and `activeroute:blaze` publish on atmosphere now.

Please try it out and yell at me if somethings broken or the new API sucks.

To make it work as `zimme:active-route` you will have to do some setup in a client side file.
e.g.
`<project_root>/client/activeroute.js`
[code]

[2017-01-26 08:25] zimme commented on #53
I've just released `1.0.0-alpha.1` of the rewrite for this package.

It's released under `activeroute:core`, `activeroute:flow-router` and `activeroute:blaze`.

To make it work as `zimme:active-route` you will have to do some setup in a client side file.
e.g.
`<project_root>/client/activeroute.js`
[code]

[2017-01-30 11:00] thearabbit commented on #53
I tried
[code]
But show
[code]

[2017-01-30 12:24] zimme commented on #53
Meteor doesn't seem to be publishing compiled code when publishing a package which I assumed it did.

I'll change the code in the packages to only use what `babel-preset-meteor` supports.

[2017-01-30 13:08] thearabbit commented on #53
Waiting `legacy` ...

[2017-01-31 09:13] zimme commented on #53
@thearabbit, try version `1.0.0-alpha.6` for all `activerorute:*` packages and see if that works.

I believe you'll have to manually add each package with the specific version to upgrade.

[code]

[2017-03-11 10:20] mjwong commented on #31
Hi, i would like to be able to use {{}} in class attribute like so:
`			ul.nav.navbar-nav
				li.(class="{{isActiveRoute regex='quickform'}}")
					a(href='/quickform') quickForm Playground`
How to make it work? Thanks

[2017-03-11 10:23] zimme commented on #31
There's a problem with the latest stable version of this package and Meteor 1.4+ versions where template helpers for blaze don't seem to be working properly.

See issue #52.

[2017-03-11 10:26] zimme commented on #31
You could try the new `activeroute:core`, `activeroute:iron-router`/`activeroute:flow-router` and `activeroute:blaze` packages that I've created which are more modular and should work properly with Meteor 1.4+.

[2017-10-03 14:27] OmkarKirpan opened #54 "Error: No metadata files found for isopack"
λ **meteor add zimme:active-route**
C:\Users\okirp\AppData\Local\.meteor\packages\meteor-tool\1.5.2_2\mt-os.windows.x86_32\dev_bundle\lib\node_modules\meteor-promise\promise_server.js:218
      throw error;
      ^

Error: No metadata files found for isopack at: /C/Users/okirp/AppData/Local/.meteor/packages/coffeescript/1.0.17
    at [object Object]._.extend._loadUnibuildsFromPath (C:\tools\isobui

[2017-10-03 14:30] zimme commented on #54
Hmm.

Almost seems like this is a problem with `coffeescript`@1.0.17.

[2017-10-03 14:32] OmkarKirpan commented on #54
Thanks for replying...

did some research and issue is resolved [here](https://github.com/meteor/meteor/issues/8587)

[2017-10-03 14:34] zimme commented on #54
Nice, I'll close this issue then.

[2017-10-03 14:34] #54 closed, assigned to nobody

[2017-10-03 14:35] OmkarKirpan commented on #54
yep

[2017-10-03 15:20] OmkarKirpan commented on #54
**_# Solution :_**
Meteor downloads every package you use in the meteor installation folder.
This seems like for some reason the package cache is corrupted. Try **removing** the following directory:
For windows this is here:

for linux/mac this is usually

Delete all versions listed in those directories AND delete your projects `.meteor/local` folder.